* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ebecf0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    color: #323232;
}

h1 {
    font-size: max(35px,2.65vmax);
    line-height: 1.3;
}

h2 {
    font-size: max(21px,1.8vmax);
    line-height: 1.4;
}

h3,
h4,
h5,
h6,
p,
a,
li {
    font-size: max(16px,1.2vmax);
    line-height: 1.7;
}

@media screen and (max-width:766px) {
    h1 {
        font-size: max(25px,2.65vmax);
    }

    h2 {
        font-size: max(20px,2.2vmax);
    }

    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li {
        font-size: max(16px,1.8vmax);
    }
}

section {
    width: 100%;
}

.logo {
    font-size: 30px;
}

.headerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vh;
}

.propioheader {
    border-radius: 2vmin;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidoCTA {
    display: flex;
    flex-direction: column;
}

.contenidoCTA h1 {
    color: #ffffff;
    font-weight: bold;
}

.contenidoCTA h2 {
    color: #ffffff;
    margin-top: 1vh;
    font-weight: 500;
    font-size: 1.5vmax;
}

.botonrssCTA {
    display: flex;
    margin-top: 1.5vh;
    align-items: center;
}

.rrssCTA {
    color: white;
}

.puntosfuertes {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.colpfuertes {
    border-width: 2px;
    flex: 1 1 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.contenedorcolumnas {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.puntosfuertes h2 {
    margin-bottom: 2vh;
}

.colpfuertes p {
    text-align: center;
    width: 80%;
}

.colpfuertes h3 {
    margin-top: 1vmax;
}

.botonrssCTA button {
    border: none;
    background-color: #4F69B0;
    border-radius: 2vmin;
    width: 100%;
    font-size: 1.5vmax;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
}

.seccion2 {
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colseccion2 {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.contenedorseccion2 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.aetinumeros {
    width: 70%;
    background-color: #4f69b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
}

.aetinumeros h2 {
    color: #ffffff;
    margin-top: 2vh;
}

.numeros {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.colnumero {
    flex: 1 1 50%;

    /* height: 15vh */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.colnumero h3 {
    color: #ffffff;
}

.colnumero p {
    color: #ffffff;
    text-align: center;
}

.contenedortextoseccion {
    width: 100%;
    display: flex;
}

.separador {
    height: 10vmax;
    width: 0.5vmin;
    background-image: linear-gradient(180deg, rgb(150, 208, 23) 0%, rgb(82, 184, 206) 99%);
    border-radius: 100vmax;
}

.textocolumna {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 2vmin;
    padding-top: 2vmin;
}

.textocolumna h2 {
    width: 70%;
}

@media screen and (min-width:1025px) {
    .propioheader {
        width: 90%;
        background-image: url('../bgportatil.jpg');
        padding-top: 14.25vh;
        padding-bottom: 14.25vh;
    }

    .propioheader img {
        width: 17%;
    }

    .contenidoCTA {
        margin-left: 5vh;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .propioheader {
        width: 90%;
        background-image: url('../bgtablet.jpg');
        flex-direction: column;
        padding-top: 4vmax;
        padding-bottom: 3.5vmax;
    }

    .propioheader img {
        width: 19%;
    }

    .colpfuertes {
        flex: 1 1 50%;
        margin-bottom: 3vh;
    }
}

@media screen and (max-width:766px) {
    .propioheader {
        width: 83%;
        background-image: url('../bgmovil.jpg');
        flex-direction: column;
        padding-top: 8vmax;
        padding-bottom: 7.5vmax;
    }

    .propioheader img {
        width: 27%;
    }

    .colpfuertes {
        flex: 1 1 100%;
        margin-bottom: 4vh;
    }
}

@media screen and (max-width:766px) {
    .contenidoCTA {
        margin-top: 3vh;
        text-align: center;
        flex-direction: column;
    }

    .botonrssCTA {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .colseccion2 {
        flex: 1 1 100%;
    }

    .aetinumeros {
        width: 90%;
    }
}

.textocolumna p {
    width: 85%;
    padding-left: 1vmax;
    margin-top: 1vmax;
}

@media screen and (min-width:1025px) {
    .svglogo {
        width: 15.25vmax;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .svglogo {
        margin-bottom: 2vmax;
        width: 13vmax;
    }
}

@media screen and (max-width:766px) {
    .svglogo {
        width: 10.2vmax;
    }
}

@media screen and (min-width:1025px) {
    .rrss {
        margin-left: 3vh;
        gap: 2vmax;
    }
}

.rrss {
    display: flex;
    gap: 1.5vmax;
}

.colnombresfooter {
    flex: 1 1 50%;
}

.accordion {
    width: 33vw;
}

@media screen and (min-width:1025px) {
    .svgrrss {
        width: 2vmax;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .svgrrss {
        width: 3vmax;
    }
}

@media screen and (max-width:766px) {
    .svgrrss {
        width: 3.5vmax;
    }
}

@media screen and (min-width:1025px) {
    .svgpfuertes {
        width: 5vmax;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .svgpfuertes {
        width: 8vmax;
    }
}

@media screen and (max-width:766px) {
    .svgpfuertes {
        width: 9vmax;
    }
}

@media screen and (min-width:1025px) {
    .colpfuertes {
        margin-bottom: 5vh;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .contenedorseccion2 {
        width: 100%;
    }

    .separador {
        width: 1vmin;
    }
}

@media screen and (max-width:766px) {
    .separador {
        width: 2vmin;
        margin-top: 2.5vmax;
    }

    .textocolumna:last-child {
        margin-top: 2.5vmax;
        padding-left: 4vmin;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .botonrssCTA {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.contenedorfaq {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13vh;
}

.accordion-item {
    background-color: #D7D8D9;
    border-radius: 2vmin;
    margin-bottom: 3vmax;
}

.accordion-item-header {
    padding: 1vmax 1vmax 1vmax 1vmax;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-item-body-content {
    padding-left: 2vmax;
    margin-right: 2vmax;
    padding-bottom: 3vmax;
}

.accordion-item-header h2 {
    font-size: max(16px,1.5vmax);
    margin-left: 1vmin;
    width: 80%;
    margin-bottom: 0;
}

#faqlast {
    margin-bottom: 1vmax;
}

.faqa {
    color: #707070;
}

.seccionasociarse {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.contenedorasociarse {
    width: 80%;
    border-radius: 2vmin;
    background-color: #4f69b0;
    padding-top: 3vmax;
    padding-bottom: 3vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorasociarse h2 {
    color: #ffffff;
    margin-bottom: 2vmax;
    text-align: center;
}

.pasosasociarse {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.colpasos {
    width: 100%;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colpasos p {
    color: #ffffff;
    width: 90%;
    margin-bottom: 2vmax;
}

.contenedorasociarse button {
    border: none;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    border-radius: 2vmin;
    color: #000000;
    font-size: 1.3vmax;
    width: 100%;
    cursor: pointer;
}

.contenedorasociarse a {
    width: 20%;
    cursor: pointer;
}

.footer {
    background-color: #d7d8d9;
    display: flex;
    justify-content: center;
    padding-top: 2vmax;
    padding-bottom: 2vmax;
    margin-top: 11vh;
}

.footerenlaces {
    display: flex;
    margin-bottom: 2vmax;
    flex-wrap: wrap;
}

.contenidofooter {
    width: 60%;
}

.footercol {
    flex: 1 1 33%;
    margin-bottom: 2vh;
}

.footercol h2 {
    margin-bottom: 1vmin;
}

.footernombres {
    display: flex;
    flex-wrap: wrap;
}

.contenidofooter a {
    text-decoration: none;
}

.contenidofooter p {
    width: 90%;
}

@media screen and (max-width:766px) {
    .contenedorasociarse {
        flex-direction: column;
    }

    .colpasos {
        flex: 1 1 100%;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .contenedorasociarse button {
        width: 100%;
        padding-top: 1.5vmax;
        padding-bottom: 1.5vmax;
        margin-top: 1vmax;
    }

    .contenedorasociarse a {
        width: 40%;
    }
}

@media screen and (max-width:766px) {
    .contenedorasociarse a {
        width: 50%;
    }

    .contenedorasociarse button {
        width: 100%;
        padding-top: 1.5vmax;
        padding-bottom: 1.5vmax;
        font-size: 16px;
        margin-top: 1vmax;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .contenidofooter {
        width: 70%;
    }

    .footercol {
        flex: 1 1 50%;
    }
}

@media screen and (max-width:766px) {
    .footercol {
        flex: 1 1 100%;
    }
}

.contenidotexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5vmax;
    margin-bottom: 4vmax;
}

.titulocontenedor {
    width: 60%;
    margin-bottom: 3vmax;
    background-image: url('../bgportatil.jpg');
    background-size: 100% 100%;
    padding-top: 6.4vmax;
    padding-bottom: 6.4vmax;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textocontenido {
    width: 70%;
}

.titulocontenedor h1 {
    text-align: center;
    color: #ffffff;
    width: 90%;
}

@media screen and (max-width:766px) {
}

@media screen and (min-width:767px) and (max-width:1024px) {
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .botonrssCTA button {
        width: 100%;
        padding-top: 2vmin;
        padding-bottom: 2vmin;
    }
}

@media screen and (max-width:766px) {
    .botonrssCTA button {
        padding-top: 3vmin;
        padding-bottom: 3vmin;
        width: 100%;
    }

    .contenidoCTA h2 {
        text-align: center;
        width: 80%;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .contenidoCTA h2 {
        width: 55%;
        text-align: center;
    }
}

@media screen and (min-width:1025px) {
    .contenidoCTA h2 {
        width: 42ch;
    }
}

.svgrrss {
    cursor: pointer;
}

@media screen and (max-width:766px) {
    .contenidofooter {
        width: 80%;
    }
}

@media screen and (min-width:1025px) {
    .contenidoCTA h1 {
        width: 23ch;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .contenidoCTA h1 {
        width: 60%;
    }
}

@media screen and (max-width:766px) {
    .contenidoCTA h1 {
        width: 90%;
    }
}

@media screen and (max-width:1024px) {
    .accordion-item-header h2 {
        font-size: max(16px, 1.5vmax);
    }
}

@media screen and (min-width:1025px) {
    .rrss a {
        display: flex;
    }
}

.rrss a {
    cursor: pointer;
}

.botonrssCTA a {
    width: 35%;
}

@media screen and (max-width:1024px) {
    .textocontenido {
        width: 85%;
    }

    .accordion {
        width: 90%;
    }

    .colnombresfooter {
        flex: 1 1 100%;
        margin-top: 1vh;
    }

    .faq {
        margin-top: 10vh;
    }
}

@media screen and (max-width:766px) {
    .contenedorasociarse h2 {
        width: 70%;
    }
}

@media screen and (max-width:1024px) {
    .contenidoCTA {
        width: 100%;
        align-items: center;
    }

    .contenidoCTA h1 {
        text-align: center;
    }
}

@media screen and (max-width:766px) {
    .botonrssCTA a {
        width: 40%;
    }
}

@media screen and (max-width:1024px) {
    .rrss {
        margin-top: 1.5vh;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .titulocontenedor {
        margin-bottom: 3.5vmax;
        padding-top: 4vmax;
        padding-bottom: 4vmax;
        width: 70%;
    }
}

.textocolumna ul {
    width: 85%;
    padding-top: 1vmax;
    padding-left: 2vmax;
}

@media screen and (max-width:766px) {
    .titulocontenedor {
        width: 70%;
        padding-top: 3vmax;
        padding-bottom: 3vmax;
        margin-bottom: 2.5vmax;
    }
}

.divtitulosingle {
    margin-bottom: 3vmax;
    width: 100%;
    display: flex;
    justify-content: center;
}

.divtitulosingle h1 {
    text-align: center;
    width: 80%;
}

#imagensingle {
    width: 75%;
    height: 40vh;
    object-fit: cover;
    border-radius: 2vmin;
    margin-bottom: 3vmax;
}

@media screen and (min-width:767px) and (max-width:1024px) {
    #imagensingle {
        height: 20vh;
    }
}

@media screen and (max-width:766px) {
    #imagensingle {
        height: 15vh;
    }
}

.redaccion {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3vmax;
}

.colredaccion {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.elementoredaccion {
    background-color: #d7d8d9;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    padding-top: 1.5vmax;
    padding-bottom: 1.5vmax;
    border-radius: 2vmin;
}

.elementoredaccion p {
    width: 85%;
}

@media screen and (max-width:1024px) {
    .colredaccion {
        flex: 1 1 100%;
        margin-bottom: 3vmax;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .elementoredaccion {
        padding-top: 2.5vmax;
        padding-bottom: 2.5vmax;
    }
}

.contenidorevista {
    display: flex;
    flex-direction: column;
    margin-top: 1.5vmax;

    /* margin-bottom: 4vmax */
    width: 100%;
    align-items: center;
}

.presentacionrevista {
    width: 75%;
    display: flex;
    margin-bottom: 2vmax;
}

.portadarevista {
    width: 40%;
}

.descripcionrevista {
    width: 60%;
}

.portadarevista img {
    width: 100%;
    object-fit: cover;
    border-radius: 2vmin;
}

.descripcionrevista > * {
    margin-left: 3.5vmax;
}

.descripcionrevista p {
    margin-bottom: 1.5vmax;
}

.descripcionrevista h1 {
    margin-bottom: 1.5vmax;
}

.seccionarticulos {
    margin-top: 4vmax;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorarticulos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.colarticulo {
    flex: 0 1 33.33%;
    justify-content: center;
    display: flex;
    margin-bottom: 4vmax;
}

.articulo {
    width: 90%;
    border-radius: 2vmin;
    position: relative;
    aspect-ratio: 3/4.5;
}

.articulo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2vmin;
    position: absolute;
    z-index: 1;
}

.articulotransparencia {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(56, 57, 58, 0.64);
    z-index: 2;
    border-radius: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.articulotransparencia h2 {
    color: #ffffff;
    width: 90%;
    margin-bottom: 1vmax;
    margin-right: 1vmax;
}

.articulotransparencia p {
    color: #ffffff;
    background-color: #4f69b0;
    padding-left: 1vmax;
    padding-right: 1vmax;
    margin-top: 1vmax;
    margin-right: 1vmax;
    border-radius: 1vmin;
}

@media screen and (max-width:1024px) {
    .presentacionrevista {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .descripcionrevista {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .descripcionrevista > * {
        margin-left: 0;
    }

    .portadarevista {
        margin-bottom: 1.5vmax;
    }
}

@media screen and (max-width:766px) {
    .portadarevista {
        width: 60%;
    }

    .colarticulo {
        flex: 0 1 100%;
    }

    .articulotransparencia h2 {
        margin-bottom: 1.5vmax;
        margin-right: 1.6vmax;
    }
}

.eventosuscripcion {
    width: 50%;
    background-color: #d7d8d9;
    display: flex;
    justify-content: center;
    border-radius: 2vmin;
    margin-top: 3vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
}

.eventosuscripcion p {
    width: 90%;
    text-align: left;
}

@media screen and (max-width:1024px) {
    .eventosuscripcion {
        width: 80%;
    }
}

.articulopaginacion {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.eventodatos {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.datosespacio {
    background-color: #d7d8d9;
    display: flex;
    border-radius: 2vmin;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    margin-bottom: 2vmax;
    flex-direction: column;
    align-items: center;
}

.datosespacio p {
    margin-bottom: 0;
    width: 90%;
}

.eventoboton {
    border: none;
    font-size: max(16px, 1.5vmax);
    background-color: #4f69b0;
    color: #ffffff;
    border-radius: 1vmin;
    padding: 1vmax 3vmax 1vmax 3vmax;
    cursor: pointer;
}

@media screen and (min-width:1025px) {
    .eventodatos {
        width: 90%;
    }
}

.contenidoevento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcionevento {
    width: 80%;
}

@media screen and (max-width:766px) {
    .redaccion {
        width: 80%;
    }
}

.articulotransparencia a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
}

.footercol ul li {
    text-decoration: none;
    list-style: none;
    width: 90%;
}

.contenedorloop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textocontenido p {
    margin-bottom: 2vmax;
}

@media screen and (max-width:1024px) {
    .descripcionrevista h1 {
        text-align: center;
    }
}

.textocontenido h2 {
    margin-bottom: 1vmax;
}

.textocontenido li {
    margin-left: 2vmax;
}

.textocontenido ul {
    margin-left: 2vmax;
}

.textocontenido h3 {
    margin-bottom: 1vmax;
}

/* ---------- DESPLEGABLE DE IDIOMAS ---------- */
.desplegable {
    position: relative;
}

.desplegable-contenido {
    position: absolute;
    display: none;
    width: 190px;
    background-color: white;
    border-radius: 1.83vmax;
    padding-top: 2vh;
    padding-bottom: 2vh;
    right: 0;
}

.desplegable:hover .desplegable-contenido {
    display: block;
}

.desplegable-contenido ul {
    display: flex;
    gap: 2vw;
    flex-direction: column;
    align-items: center;
}

.desplegable-contenido ul li {
    list-style: none;
}

/* ---------- VERSIÓN ORDENADOR ---------- */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    transition: 0.7s;
    z-index: 10;
}

.nav {
    z-index: 10;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: none;
}

.contenedor-CTAs {
    display: flex;
    gap: 2vw;
    align-items: center;
}

#ctamenu {
    background-color: #214b79;
    color: white;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 0.391vmax;
}

.header a {
    text-decoration: none;
}

.nav ul {
    display: flex;
    gap: 2vw;
}

.nav ul li {
    list-style: none;
}

.contenedor-menu {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-botonesmenuresponsive {
    display: none;
    gap: 5vw;
}

.contenedor-botonesmenuresponsive .desplegable-contenido {
    right: 0;
}

.logomenu {
    display: flex;
}

.logomenu svg {
    width: 50px;
}

/* ---------- VERSIÓN MÓVIL Y TABLET ---------- */
@media screen and (max-width:1024px) {
    .contenedor-CTAs {
        display: none;
    }

    .nav {
        width: 100%;
        overflow: hidden;
        height: 0;
        transition: all .5s ease;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        gap: 4vh;
        background-color: white;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .button {
        display: block;
    }

    .contenedor-botonesmenuresponsive {
        display: flex;
    }

    .logomenu img {
        width: 40px;
    }
}

/* ---------- CLASES QUE MANTENER AL FINAL ---------- */
.activo {
    height: auto;
    margin-top: 2vh;
}

.desplazamiento {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: white;
}

main {
    margin-top: 110px;
}

.seccion-titulopg {
    display: flex;
    justify-content: center;
}

.seccion-presentacionrevista {
    display: flex;
    justify-content: center;
}

.seccion-presentacionrevista .presentacionrevista .descripcionrevista {
    width: 100%;
}

.seccion-eventosheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-eventopg {
    display: flex;
    justify-content: center;
}

.seccion-tituloentrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-contenidoblogpg {
    display: flex;
    justify-content: center;
}

.contenedor-contenido {
    width: 70%;
}

@media screen and (max-width:1024px) {
    .contenedor-contenido {
        width: 90%;
    }
}

.seccion-presentacionrevista .descripcionrevista > * {
    margin-left: 0px;
}

